.homeContainer {
    align-items: center;
}

.homeContainer p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;

    color: black;
}

.homeHeader {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.headerMain {
    margin-top: 10%;
}

.headerText h1 {
    width: 30vw;
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;

    color: #2AACFF;
}

.headerPicture {
    position: absolute;
    z-index: -9999;
    height: 85vh;
    width: 100%;
    object-fit: cover;
    opacity: 10%;
    filter: blur(4px)
}

.button {
    line-height: 15vh;
    width: 5vh;
    padding: 1vw 3.87vw; 
    margin-right: 1vw;
    background-color: #2AACFF;

    font-size: 3vh;
    text-decoration: none;
    font-weight: 700;
    
    color: white;
}

.button a:hover {
    background-color: #2da2ed;
    color: #f0f0f0;
}

.section1 {
    padding-top: 30vh;
    padding-bottom: 40vh;
}

#aboutus {
    width: 70vw;
    margin: auto;
}

#purpose {
    width: 65vw;
    margin-bottom: 5vh;
}

#benefits {
    list-style-position: inside;
    padding-left: 0;
}

#benefits li{
    font-style: normal;
    width: 33vw;
    height: 35vh;
    float: left;
    padding-right: 2vw;
    display: inline;
}

#aboutus h1{
    font-weight: 700;
    font-size: 2.8vw;

    color: #2AACFF;
}

