.form-group{
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.form-control{
  border:0;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.06);
}

#unique-btn {
    border: none;
    margin-top: 3vh;
    margin-bottom: 7vh;
    color: #f7f7f7;
    line-height: 8vh;
    padding: 0.03vw 4vw 0.03vw 4vw; 
    background-color: #2AACFF;

    position: fixed;
    left: 35%;

    font-size: 3vh;
    text-decoration: none;
    font-weight: 700;
    
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    
}

#unique-btn:hover {
    color: #f7f7f7;
    cursor: pointer;
}

#unique-btn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background: rgb(42, 172, 112);
}

#unique-btn:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.mainHeader{
    margin-top: 4vh;
    margin-bottom: 3vh;
    text-align: center;
    padding: 0.8vh;
    border-bottom: 1px solid #BDBDBD;

    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;    
    padding-bottom: 3vh;

    color: #2AACFF;
    
}

.infoHeader{
    margin: 1vh;
    padding: 1vh;
    border-style: solid;
    border-color: #2AACFF;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    
}