.form-group{
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.form-control{
  border:0;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.06);
}

.inputSiteButton {
    border: 0px;
    margin-top: 4vh;
    line-height: 8vh;
    padding: 0.03vw 4vw 0.03vw 4vw; 
    background-color: #f0f0f0;

    font-size: 3vh;
    text-decoration: none;
    font-weight: 700;
    
    color: white;
    display: flex;
    justify-content: center;
}

.inputSiteButton:hover {
    background-color: #f0f0f0;
    color: #f0f0f0;
}

.mainHeader{
    margin-top: 4vh;
    margin-bottom: 3vh;
    text-align: center;
    padding: 0.8vh;
    border-bottom: 1px solid #BDBDBD;
    /* border-style: solid;
    border-color: #2da2ed;
    border-width: thick; */
    
}

.infoHeader{
    margin: 1vh;
    padding: 1vh;
    border-style: solid;
    border-color: #2AACFF;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    
}