.modal {
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: flex;
}

.modalBox {
    padding: 1vh 1vw;
    width: 50vw;
    margin: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10001;
}

.modalOverlay {
    top: 0;
    position: fixed;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 10000;
}

.modalActive {
    opacity: 100%;
    visibility: visible;
}

.modalClosed {
    opacity: 0%;
    visibility: hidden;
}

.modalCloseButton {
    font-size: 2vw;
    cursor: pointer;
    float: right;
}

.patientForm {

}

.divider {
    width: 100%;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.patientForm input, .patientForm select {
    width: 100%;
}

.patientForm label {
    margin: 1vh 0.5vh 0 0;
}

.patientForm textarea {
    width: 100%;
}

.patientForm button {
    margin-top: 1vh;
    float: right;
    margin-left: 1vw;
}

.form-group{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 1vh;
    border-style: solid;
    border-color: #2AACFF;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
.form-control{
  border:0;
  box-shadow:0 0 5px 1px rgba(0,0,0,0.06);
  margin-top:1vh;
  margin-bottom: 2vh;
}

.mainHeader{
    margin-top: 4vh;
    margin-bottom: 0vh;
    text-align: center;
    padding: 0.8vh;
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;    
    padding-bottom: 3vh;
    color: #2AACFF;
    
}

