.patientList {
    width: 35vw;
    height: 75vh;
    border-radius: 7px;
    border: 1px solid #8f8f8f;
}

.addPatient {
    border-radius: 7px;
    border: 1px solid #8f8f8f;
    text-align: center;
    cursor: pointer;
}

.patientContainer {
    border: 2px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
}